
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

*{
    font-family: 'Smooch Sans', sans-serif;
}

.title {
    font-size: xx-large;
}

.subtitle, .desc, .mp3-dropoff, .genre-box {
    font-size: x-large;
    color: aquamarine;
}

.title-box {
    
    border-bottom: 3px groove aquamarine;
    width: 100%;
    color: aquamarine;
    position: relative;
}

body {
    background-color: rgb(36, 35, 35);
}

.mp3-dropoff {
    position: static;
    width: 200px;
    color: rgb(245, 169, 54);
}

.button-box {
    position: relative;
    top: 50px;
    left: 125px;
    
}

button {
    width: 100px;
    height: 35px;
    font-size: x-large;
    background: rgb(245, 169, 54);
}

.genreid {
    top: 40px;
    font-size: xx-large;
    color: rgb(245, 169, 54);
    position: relative;
}


.genre-desc {
    font-size: x-large;
    color: aquamarine;
    position: relative;
    top: 30px;
}

.misc {
    position: static;
    margin-top: 200px;
    font-size: large;
    color: aquamarine;
    border-top:3px groove aquamarine ;
}

#hint {
    position: absolute;
    margin-top:30px;
    left: 10px;
    font-size: large;
}